
<section class="py-5  container">
    <div class="row py-lg-5">
    <div class="col-lg-3 col-md-2"></div>
      <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Add User</h1>
        <%= simple_form_for @user,method: 'POST' do |f| %>
        <%= f.input :name %>
        <%= f.input :photo %>
        <%= f.input :bio %>
        <%= f.button :submit %>
        <% end %>
      </div>
      <div class="col-lg-3 col-md-2"></div>
    </div>
  </section>
