<section class="py-5  container">
    <div class="row py-lg-5">
    <div class="col-lg-3 col-md-2"></div>
      <div class="col-lg-6 col-md-8 mx-auto">
        <div class="well">
        <h4><%= @post.title%></h4>
        <p><%= @post.text%></p>
         <%= link_to 'Delete', user_post_path(@post.id), method: :delete, class: 'btn btn-danger' %>
          <%= link_to 'Back', user_path, class: 'btn btn-default' %>
        </div>
      </div>
      <div class="col-lg-3 col-md-2"></div>
    </div>
  </section>
  <section class="py-5  container">
    <div class="row py-lg-5">
    <div class="col-lg-3 col-md-2"></div>
      <div class="col-lg-6 col-md-8 mx-auto">
      <h3>Comments:<%= %> 3</h3>
        <div class="well">
        <h4>John</h4>
        <p>This is a very nice post</p>
        <h4>Allan</h4>
        <p>This is a very nice post</p>
        <h4>James</h4>
        <p>This is a very nice post</p>
        <%# <%= link_to 'Read more', user_post_path(post), class: 'btn btn-default' %> 
        </div>
      </div>
      <div class="col-lg-3 col-md-2"></div>
    </div>
  </section>